body {
  background-color: #000;
  color: #d3d3d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

header {
  background-color: #111;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  margin: 0;
  font-size: 36px;
}

h2 {
  margin: 0;
  font-size: 18px;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  min-width: 200px;
  border-radius: 8px;
}

nav ul li ul li {
  padding: 10px;
  text-align: left;
}

nav ul li ul li a {
  color: #fff;
}

.columns {
  display: flex;
  justify-content: center; /* Centers columns horizontally */
  align-items: flex-start;
  margin-top: 40px;
  width: 960px; /* Fixed width for the columns container */
  margin-left: auto;
  margin-right: auto;
}

.column {
  width: 300px; /* Fixed width for each column */
  padding: 20px;
  text-align: center;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0; /* Remove margin for the last column */
}

.column + .column {
  border-left: 2px solid #444; /* Vertical line between columns */
}

.column h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.project-button {
  display: block;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 120px; /* Fixed height */
  width: 100%; /* Fill the width of the column */
  box-sizing: border-box; /* Ensures padding does not affect width */
  background-image: url('images/tarlow-design.jpg'); /* Placeholder image */
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.project-button:hover {
  filter: grayscale(0%);
}

footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
